@import "vars";
@import "vendor/reset";
@import "blocks/page";
@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";


html {
    font-size: 62.5%;
}

body {
    background-color: #181818;
    font-size: 20px;
    color: $white;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}