.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    box-shadow: 0 15px 25px rgba(black, .45);
    background-color: #121212;
    border-radius: 5px;
}

.add-post__form {
    display: flex;
}

.add-post__textarea {
    display: block;
    width: 75%;
    font-family: inherit;
    font-size: 1.5rem;
    color: white;
    border: none;
    background: transparent;
    resize: none;

    &::placeholder {
        color: #d2d2d2;
    }
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    cursor: pointer;  
    border: none;
    margin-left: 1.5rem;
}

.add-post__file {
    background: #ebebeb no-repeat center/60% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAjVBMVEX///8AAADu7u7t7e339/fv7+/+/v75+fn09PTOzs5ycnL4+Pg5OTklJSXj4+Po6OgTExMwMDAaGhqQkJDZ2dnCwsJVVVW2trZGRkaFhYXY2NjPz8+ampqxsbEhISEODg5hYWGoqKhvb2+AgIArKytPT09HR0eJiYlnZ2c1NTW9vb1aWlqXl5egoKA/Pz8H4VJqAAAQ3ElEQVR4nO1d53byOBAVllXAiZ1QE0oSAikfAd7/8dZNLhphrEIwezJ79sdqzc1cq82MRmOEhHAvF140kbwF+6KFYtHERBMrmjoJ5SF3WH8M/xj+Mfxj+MewU2pdiCHOhZRYoqmCJYSWWEI6CsWF+CyXoGgSLcyHTfB3iqYuQCEPdHDZ58Ub8fOm2pvMm8rhA8dKF6AUDNlpLK/EUkyQpol1PaguMGzVh11hiL14CnBaPuVnUj5E8yZerBMoEE2sCtVJhsmE8Bd9C5l3nCEjzz1rWfPuMmSLO3uCvd7n+NIMG9blKhZcHsKhC4K93n2kt1s0a1Xs+CSg2Q5JGRFNTDT5oonnLYwWvxNNiN67IdjrTZkzrRirUIX2kQfsI3TaPkIjVwR7vb0zrSoGoK2NyybuCPZ6oSOtPHe+BfceXTKc+k60csiQoHeXBHu9ZccYYjpzS7DXm3eLIcdb1ww/OsWQoCfXBHu9UZcY0pV7gr2HuXOGxjtP4MqYqcujnVbFfkiEMJoL8/IWT7TE1oMQlLcgLlo4otNLEIzXU2qhVfGUuV0qHuJoDXQb3unLEQ6EObPQquzz00O4HRYbQ4LIRMiLjPMvNkLNtHLpPREOx+ikhAITxBct5RKQhwcZXK9GtAMM0Qbo9YwMoeC7WhhCuWOIFQb3J6cmULFWIbBtP7kZlDuGhPwDDOd+YKYWRtD225tBuWOoMLj3yCL0MABwoSlUIcVaUFmXTy8P0umBYoxOOTGCSoQrAiGfxBCqEN9CmPcKGEbUBhEp1lMrFf3S8DE65YGDam0KlY/EAA77SWAEJaTCEA7hczbuDmjzYwolGHIMMB8pMYLKxYYhB8q8MluGWOGnbJJHr8GQwgE1M31ZpVqEfgPYvn8dhmugycAUqqoWjx5k3CHj+PcZojkgeIfNoOpqqcbpM/v9PiQKp7Bv+LIktQj9gdCMmEBJDEVbG7VUEe5nMygPS2Ys9iPgR71Ujhs1oFKGhS9cddpz77jwof3iqdzT9hdgrz9iZARFvNKPF148tE/j12cClfj/TVZb8dqgUwcd8oUplMrUeoPw1BDK0PL+AhocnB76QT/qiLkZlBnDPiD4yJwypGvFOL0Aw+KhIqqV/ZCDleAhedYhQ49Ck3dC84lVoJN4wnvxPwYMMeEBoz5jQWaf85r4MHCRGtwOGWKu8KOiigo1tXzaAKVkGPvo89V+M/28exzevz6kAkhVJTtkcMlQtZ5WJdcqlcent81ylYbICdynFAwRngzuoePXII+he4YehSOlmfN2sCBUbMVNDNlIO6NiVqjlkCGHrstZeRqRvBtPRzFCzTeXyEANhSz2w9Sbhe5nC9mMUwe8wpAVaQyEMP9gkE/xgvP8hzIjoiFJwm9IrgiKpqSFKkIILeRhHTt2JVQ17cSj46MJ5Cwfi9W013xsGtmlJZRvlr9yDNWWt8/MTqo3tK6WemKZZUGb5nfMlAwV4flW4vPLMTTOfxgVf7BkqLs45/I6p9AEcseQG82bWAaMywwNe/Drwrn6xjkeG/EnBRJ0FlrJx6VvIyAYl2opX5RUGa7NUF7nl2boR5+mFNeZCZLhhM1m50mZqdUqdgtFLrfObpFABfCIuaU8jFO8dMdHZvk+L3OkvvWgeaciaPidzxEx2vgToQlgYh+xw4knXof3J2V7PETMA6bWKatN88CoBkXD5ffxKZa742NNtttUlZO5LocUKx436nHwc5jMQ3GAE/ua6T8i9z7Jx6eyjevW8pagVMLSTvLDxW75oeSQ+jzxQFUsV69fUTyMSqgyclWohYGf0ophPDgTnGoftry6gdO/WB0OeYgtsT1ZpNruvlOGXNGFH2PKXbx4YbFWHImYYQbLjKAatJpDr+8hSrAUxswhWw0dMeSxlxD2J8u3bbliv3w8z/qhNtSZAQ+j1F9xK4GO5jrfvVwwJCwgk9GPMoF4O/2aJPdkFCFywym9lP/Ea7w5QY/iIPBdLA/R6kzS2/SA42mO3TCEtucOwfDyOyVtsNow5Iv3FqbE8GMWUe6GYSCvqW/xS5YTYsJyM0IlVtvQQ3U/XKuXcIU87nmyOLfbWpu0onKs+kjQQmraI/ubDRwTGq7b0stkFLa9JduslexR9uVsg2HITU/qqsYkW2kbgi97vwz8lVBwMjRrJR/crtC+3vBOjc+TKy5P38ghGPbFsmrBkEnrykheaFaBPUNi6GzG68KYEUuGcpd9yG7F2DwnQKgVmkYeYnnYpX6WDUMperVFUsAu/r0lQ7Dr6smbn5wMNTIkPDnqZb5aq6iOd4+kAwpk6Zgrsgw0ZRo7ro0MGRuvnwfPq1CRA5401eFepf/uxXutDcPIxdWSPm1kOBPL2LSv1EpmBBja5MiN3VwOmlUug8v7Yc3jf2cKrc4xtKnPMG9BcNjm9skOAfRMq0DKm//OjkmrWp1laFGfoems6PVntB4Xj5L+avQOjsorsmYerk+GRKv4z8vrdGxFS6OuBUPT0EN4Ut/t9yT0CyjsEe77lEXzDUwSFzKjiuleubBQLJC7ANe0IpdjGJ46KPpZcVTktkvDYXLSOJhkSW71vEUvd+Ofd/NZPh+fYhuhptXFGJ46YfheBD5pgIq+TkzeedZrVYZ+vptPkBcStM6f8/Hv9CHMYkrf8Jz656BOHDs/JilC9QyR/Mj0C+3ue9t+7u4uGf6VPlReVX/ciccaodBCGQd4ivfjeh+i1OF8nY+TWfgaZY7fO/oVhjBJKpYBQa3CBYTxver3B4QlhunKdCTZYB1H6cbzhrRHqUF9BqJScNcWisQqTlTr1KR+Ow9nfXgfZu8zVPUhPt+HBvUZqCLju3ccI9oaKsmRVBi0W59Xq0aIK/GzdAZ+oewwYoMIr+ZIaFltLaMYqgSAfyHTCD2knasIve8lqy23KRiaHWI3K7OOJjLUWYbaljchcIT9kHQ0akFRxWoVFoM6hcqT3O93GOF8808uQGha3toMGdy1nyK/upO0hYK9+F2EbjIo8afupiLGvAdQzhkqrLVh5Msh3lZQioEqknVyKCb//zv+CwzBMnM/9msvvjUU5SCCNRS/zKEW9RDzMIRQzhmOgTs0QbXJ0x4q8OF4mLD6cKjvvKECyjlDYHMtLTIVYFbp1Cd1KFL+wVGggnLNEBxdHe0KUIAXlndiJU4z3n/+224/RqEa6ixDzf0QLPF9q1IPBKwlH0iGIkmkLflXDXWOoW59Bjn0tGF2pR5AFlS8mCig0Ekod3ZpNgzBEXnAbQpQJCI7GisdqBZ2qeZdbnkH28cT2TIXQz4Ne2JaUG4ZAoPtZUz0jzUlhuBWXKQD5djH9+UU1w0CoQdthiBmt79iHzLZc03tUeuMISmv4fuKfcgkp+4pIC4YSnvi0btaHxLZt19nYSdbhrLt1nfch+3T7QJwRJ6ddNhm7vnS0FjqQJ1lqFWQQZqGR8sCDwWu5HF+6OC6PXuSJoy4CWxbZhws0VpanWWoYy5LYWBRPck2Cxpkomndx3fJkEtGaUMqnh5DJKVSaWUXuGQ4rls0j5EjhqBi1M6/EkMp0v3mqugolif4gV2JobQgFCUHrBnKrv5SJ4/pFhgCe3d0DYYUMvwqGOpFouB9CyIhb9qO0ja7hde+1IPMcCR+aFk1Iv6dNMM3VEOrcww1rrb6UpmVg3jM/pYsHP+toVxa3mC2sJMTSzfdGDK8ivckM/y6GMPRlbwnDlYafH2GTvsQrAfu+nBdR15eqQ+JxHAq0hLsGUrX1Q5X6kMiJQm9hMQVQylZanKtPvSkLKFQFDW1ZihphS8VxUAllnITkwNRO+poP/QttDrLkGiUeoA+vpOqEUROfRhqaHXepsE6pR6kg6d/YqwIH8HMLsVUitM8aWl1lqGOQyAdMQxDMRvAxNLxLcCB1prqaOWUoTxf1i4YYiafzfS5DpRThvJEzI6JbPtQ3g3vMLkew7X088gBQxJIB1pvTAvKLUM5J3FjzxAz+bUdrslQPiZ6Ca0ZEl/ONk4NCYcM9Uo9yIkK6VmfTdUIzOTjw5+0uT3UOYaapR5Aik+yM1tVjWBy7sOKakE5PXtKDC05LXRDLc+e1hLgMNKDcp0FDWtqVBN7DSxvkG78owflPFcfZvjc2X12A+REjTWhnGeyw+pEA5vPboC8tjd25T70eATqJayLh7QZwgLTY10o5wwx7MRh8WURTagAXry504W6wJ0ZX1HBMdJUK3uGyB51r/bJmmv1oaf6GtJTqM8Qc0WJ8EHx0HWiGPkmRmFhmPz7MDpQXFUTr0ghdRjFMLlvoShvOBwjrAel+KpSvGYZpKqeZegksbfX2/Yp0bnajxVlGI7UxIi/BEPOVJd7l0yjxMZKhbAwclMuwdDz56q6w9OQtoRS15lIUme7whCjtUrF4aoFVDyU+8r7p2+oQww9oqgwnsh2QZuhsE8X6uKPH7xTDD0uZw8JmfbpKagkM5+NTxS3zCOT3WGIfXKqSPb0ECaaYgkKxS5IQ50s89DrWYam6XYN3+p8+JiNMY1deEK8AoqHu4Y6WUWKnNLLbdTqHEPzqhHqy8BCjpvRSpirCO+Wm8YqZ0XZCKlqRAut7O5bNFeNYKGjrwI/9JEY1G2ubvxa1QiEmU15oVJe5xZf9Ltg1YjEOvRVxqWuJCmOJyP+1/GeCobJkDWsKV3Kd1qvsqN9mD5gVO+/lD0VUJ3sw/RHkcVIvZtXoDrKMN6I+am6xGdlwGtQlxqlBlUjamrFi3dkVA9fdKCSobvbeQZVI0RT8bsA0Yl20a9/B0YVUA2JDSqtLlM1AgRQ4jdJuWZF/DU+AdWJKEbeVJkN8VClqN+6Ot103QAlT/cr+RZQLUyCYL5sKuiVy8tgwZuhOsowET+pddVorL5+r8sqWTfIMIUK+PL9qOjLh39vo5DHq0p7qI4yTJHGk9XoqaC5/XzeTeZRkvPuYU2ojjJEsaOHJOHEDKqjDEm2xruBsmToZD/U3sQcQp1jaFTqIWsSv7OqGmEN5c4uFQ8Bu9S2aoQVlPOqER70LYxcHodQEqMH9PI/Y0hondC9nJjGb5wh5l6d0Fa+jzq7dYbBuk7oR86k2Nw6QyYdEY2QRPkR3zZDIn/TewVC8QfTUg+X+96TDhSVY0R98AWPF8LclH64ijAuZVD/i2B53A0q3wiwj85ULBdjpaGfLgoFs+zeYnDpqmv28ZkcSwz9y5vLTqAwDEevYnCQPvk6OY/VSYaqeHu6CoGThoLiTTGMx/EOZIQMWJIvJd9QieVAb40hjr0QRbnlhZ9mhCmCfsdFEh+Cnli5PFTUarM8XBiKM3+iKGH/g7JvWCo6Mfk4YHEmfQMSHpTHQXEXZll9ymraveT7b4NbkI9TQdlRYhuhtMriiSduXXgSBbD4innnJf9IS7osqQpN37zsUYUhsf/ET+fkG1UZeoS1/s7djcgbqjP0/PD/RfEHywyxr7gKcLvyWTlDEFYRZvId8RuWDVcyhBfjblXWiJRmbD1eEBp/ArtD8h3SakAEsUoaA/fp7FQe7K3I3SS20YoCFEk2ZiFJgkzy+d6Zi4/DXUueRICicMS8CsN8Z/SD8cDoI5tXl7vBGLqakGF6AsT7SzlA1XV5Oyww5bC4nYJhxZuO5v1bkDBLHudElRLQzDBeelIpXw3KW/zyIQqbmPhd5XNrF4Uiyefo1QGRZobGwZUyh+/qUBdi2CGoKkPF28KnseCcbn7x14Lyih3frtSDwfWM34LqxIHRRaEsbjaACdKF80MI9cfwj+Efw+tD/TH8Y9h9hv8B+GLRGUYf8XgAAAAASUVORK5CYII=);

    input {
        display: none;
    }

    &:hover {
        background-color: darken(#ebebeb, 10%);
    }
}

.add-post__send {
    &:hover {
    background-color: darken(#ebebeb, 10%);
    }
}

.add-post__form-actions {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}


