.subnav__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 16.5rem; 
    padding: .5rem 0;
    background-color: #3137c9; 
    border-radius: 0 0 5px 5px;
}

.subnav__link {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    display: block;
    padding: .45rem 1.2rem;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: darken(#3137c9, 5%);
    }
}