<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#">Главная</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link subnav" href="#">Работы</a>
                    <ul class="subnav__menu">
                        <li>
                            <a class="subnav__link" href="#">Веб-страницы</a>
                        </li>
                        <li>
                            <a class="subnav__link" href="#">Браузерная игра</a>
                        </li>
                        <li>
                            <a class="subnav__link" href="#">Мобильное приложение</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Обо мне</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Реклама</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <form class="search" action="/" method="post">
            <input class="search__input" type="text" placeholder="Поиск по сайту">
        </form>
    </div>
</header>